body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #FFF url(bg.png);
	 line-height: 30px;
	
}

nav {
	width:1420px;
    margin:80px auto;
    height:43px;
	text-align: left;
	z-index:999;
	font-family: Helvetica, sans-serif; font-size: 16px;
}

nav ul ul {
	display: none;
	width: 12%;
	
}

	nav ul li:hover > ul {
		display: block;
	}


nav ul {
	background: #FFF; 
	background: linear-gradient(top,#F63  0%,#F63 100%);  
	
	background: -webkit-linear-gradient(top,#2e2eb7  0%, #2e2eb7 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
	z-index:9;
	width: 96%;
}
	nav ul:after {
		content: ""; clear: both; display: block;
		z-index:99999;
		
	}

	nav ul li {
		float: left;
		z-index:99999;
		
	}
		nav ul li:hover {
			background: #FFF;
			background: linear-gradient(top,#FFF  0%, #FFF 40%);
			background: -moz-linear-gradient(top,#e6e6e6  0%,#e6e6e6  40%);
			background: -webkit-linear-gradient(top, #e6e6e6 0%,#e6e6e6 40%);
		}
			nav ul li:hover a {
				color: #2e2eb7;
				
			}
		
		nav ul li a {
			display: block; padding: 15px 30px;
			color:#FC9 ; 
			
			
		}
			
		
	nav ul ul {
		background:#e6e6e6; border-radius: 0px; padding: 0;
		position: absolute; top: 100%;
		width:12%;
		
		
	}
		nav ul ul li {
			float: none; 
		    position: relative;
		  
		}
			nav ul ul li a {
				padding: 10px 20px;
				color: #fff;
				
			}	
				nav ul ul li a:hover {
					background: #fff;
					
					
					
				}
		
	nav ul ul ul {
		position: absolute; left: 100%; top:0;
		width: 80%;
		
	}
	
	